# [Rent-A_Car]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Rent-A_Car]    Script Date: 30.04.2023 00:04:53 ******/
CREATE DATABASE [Rent-A_Car]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rent-A_Car', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Rent-A_Car.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rent-A_Car_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Rent-A_Car_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [Rent-A_Car] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rent-A_Car].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Rent-A_Car] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Rent-A_Car] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Rent-A_Car] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Rent-A_Car] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Rent-A_Car] SET ARITHABORT OFF 
GO
ALTER DATABASE [Rent-A_Car] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Rent-A_Car] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Rent-A_Car] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Rent-A_Car] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Rent-A_Car] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Rent-A_Car] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Rent-A_Car] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Rent-A_Car] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Rent-A_Car] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Rent-A_Car] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Rent-A_Car] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Rent-A_Car] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Rent-A_Car] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Rent-A_Car] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Rent-A_Car] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Rent-A_Car] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Rent-A_Car] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Rent-A_Car] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [Rent-A_Car] SET  MULTI_USER 
GO
ALTER DATABASE [Rent-A_Car] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Rent-A_Car] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Rent-A_Car] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Rent-A_Car] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Rent-A_Car] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Rent-A_Car] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [Rent-A_Car] SET QUERY_STORE = OFF
GO

# [dbo].[arac]

In [0]:
USE [Rent-A_Car]
GO

In [0]:
/****** Object:  Table [dbo].[arac]    Script Date: 30.04.2023 00:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arac](
	[plaka] [nvarchar](50) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[seri] [nvarchar](50) NOT NULL,
	[yil] [nvarchar](50) NOT NULL,
	[renk] [nvarchar](50) NOT NULL,
	[km] [nvarchar](50) NOT NULL,
	[yakit] [nvarchar](50) NOT NULL,
	[kiraucreti] [int] NOT NULL,
	[resim] [nvarchar](500) NOT NULL,
	[tarih] [nvarchar](50) NOT NULL,
	[durumu] [nvarchar](500) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[müşteri]

In [0]:
/****** Object:  Table [dbo].[müşteri]    Script Date: 30.04.2023 00:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[müşteri](
	[tc] [nvarchar](50) NOT NULL,
	[adsoyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](50) NOT NULL,
	[adres] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[satis]

In [0]:
/****** Object:  Table [dbo].[satis]    Script Date: 30.04.2023 00:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis](
	[tc] [nvarchar](50) NOT NULL,
	[adsoyad] [nvarchar](50) NOT NULL,
	[plaka] [nvarchar](50) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[seri] [nvarchar](50) NOT NULL,
	[yil] [nvarchar](50) NOT NULL,
	[renk] [nvarchar](50) NOT NULL,
	[gun] [int] NOT NULL,
	[fiyat] [int] NOT NULL,
	[tutar] [int] NOT NULL,
	[tarih1] [nvarchar](50) NOT NULL,
	[tarih2] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[sözlesme]

In [0]:
/****** Object:  Table [dbo].[sözlesme]    Script Date: 30.04.2023 00:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sözlesme](
	[tc] [nvarchar](50) NOT NULL,
	[adsoyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](50) NOT NULL,
	[ehliyetno] [nvarchar](50) NOT NULL,
	[e_tarih] [nvarchar](50) NOT NULL,
	[e_yer] [nvarchar](50) NOT NULL,
	[plaka] [nvarchar](50) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[seri] [nvarchar](50) NOT NULL,
	[yil] [nvarchar](50) NOT NULL,
	[renk] [nvarchar](50) NOT NULL,
	[kirasekli] [nvarchar](50) NOT NULL,
	[kiraucreti] [int] NOT NULL,
	[gun] [int] NOT NULL,
	[tutar] [int] NOT NULL,
	[ctarih] [nvarchar](50) NOT NULL,
	[dtarih] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO

# [Rent-A_Car]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Rent-A_Car] SET  READ_WRITE 
GO